<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<script type="text/javascript">

handler = Gmaps.build('Google');
map_center = new google.maps.LatLng(<%= origin_point.latitude %>, <%= origin_point.longitude%> )

handler.buildMap({ 
  provider: {
    zoom: 10,
    center: map_center
  }, 
  internal: {id: 'map'}}, 
  function(){
    markers = handler.addMarkers(<%=raw marker_set.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
});
</script>