<%= flash[:notice] %>

<h1> All Locations</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Latitude/Longitude</th>
    </tr>
  </thead>
  <tbody>
    <% locations.each do |loc| %>
      <tr>
        <td><%= loc.id %></td>
        <td><%= loc.name %></td>
        <td><%= loc.latlon %></td>
      </tr>
    <% end %>
  </tbody>
</table>